{
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "avoid",
  "printWidth": 120,
  "overrides": [
    {
      "files": ["babel.config.js"],
      "options": {
        "trailingComma": "es5"
      }
    },
    {
      "files": ["*.css", "*.scss", "*.less", "*.variables", "*.overrides"],
      "options": {
        "singleQuote": false
      }
    },
    {
      "files": ["*.overrides", "*.variables"],
      "options": {
        "parser": "less"
      }
    }
  ]
}
